@font-face {
    font-family: 'Comfortaa-Regular';
    src: url('../fonts/Comfortaa-Regular.woff2') format('woff2');
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'Comfortaa-SemiBold';
    src: url('../fonts/Comfortaa-SemiBold.woff2') format('woff2');
    font-style: normal;
    font-weight: 600;
    font-display: swap;
}

@font-face {
    font-family: 'Comfortaa-Bold';
    src: url('../fonts/Comfortaa-Bold.woff2') format('woff2');
    font-style: normal;
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto-Regular';
    src: url('../fonts/Roboto-Regular.woff2') format('woff2');
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'YesevaOne-Regular';
    src: url('../fonts/YesevaOne-Regular.woff2') format('woff2');
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

body {
    font-family: "Comfortaa-Regular", sans-serif;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    line-height: 1.14;
    color: #000000;
    overflow-x: hidden;
}

html,
body {
    height: 100%;
}

.button {
    padding: 0;
    border: none;
    display: inline-block;
    padding: 18px 54px;
    font-family: "Comfortaa-Regular", sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.4;
    background-color: #FFBD59;
}

input {
    font-family: inherit;
    color: inherit;
}

input::placeholder {
    font-family: inherit;
    color: inherit;
}

.container {
    max-width: 1180px;
    margin: 0 auto;
    padding: 0 10px;
}

.section {
    padding-bottom: 150px;
}

.title {
    margin-bottom: 15px;
    font-family: 'YesevaOne-Regular', cursive;
    font-size: 40px;
    font-weight: 400;
}

.section--decor {
    position: relative;
}

.section--decor::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 22px;
    height: 30px;
    background-image: url(../images/section-decor.png);
}

.section--decor::after {
    content: '';
    position: absolute;
    bottom: 13px;
    left: 22px;
    width: 1000%;
    height: 1px;
    background-color: #7B6152;
}


/* header */
.header {
    background-color: #FFF8F3;
}

.header__inner {
    padding-top: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu__list {
    display: flex;
    gap: 0 20px;
}


.menu__list-link {
    text-transform: uppercase;
}

.phone {
    position: relative;
}

.phone::before {
    content: '';
    position: absolute;
    left: -20px;
    width: 15px;
    height: 15px;
    background-image: url(../images/phone.svg);
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
}

.menu__btn {
    height: 23px;
    width: 30px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 0;
}

.menu__btn span {
    background-color: #7B6152;
    height: 1px;
    width: 100%;
}

/* top */
.main {
    background-color: #FFF8F3;
    overflow-x: clip;
}

.top {
    padding-top: 40px;
    padding-bottom: 150px;
}

.top__inner {
    position: relative;
}

.top__content {
    width: 380px;
    padding: 150px 0 250px;
}

.top__title {
    font-family: 'YesevaOne-Regular', cursive;
    font-size: 30px;
    line-height: 1.16;
    font-weight: 400;
    margin-bottom: 15px;
}

.top__text {
    margin-bottom: 48px;
}

.top__buy {
    display: inline-block;
    padding: 20px 46px;
    font-family: "Comfortaa-Regular", sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.4;
    text-align: center;
    background-color: #FFBD59;
}

.top__img {
    position: absolute;
    top: 0;
    left: 240px;
}

.top__img-l {
    max-width: none;
}

/* about */
.about {
    background-color: #A5978E;
    padding: 50px 0;
    color: #FAFAFA;
    margin-bottom: 150px;
}

.about__inner {
    display: flex;
    align-items: center;
}

.about__content {
    min-width: 370px;
}

.about__text {
    margin-bottom: 15px;
    font-weight: 400;
}

.about__list {
    display: flex;
    align-items: center;
    flex-basis: 930px;
    column-gap: 20px;
    padding-left: 110px;
    padding-bottom: 48px;
}

.about__item {}

.about__item-img {
    margin-bottom: 10px;
    max-width: none;
}

.about__item-text {
    font-size: 11px;
}

/* product */

.products {}

.section__inner {
    display: grid;
    grid-template-columns: 370px auto;
}

.products__descr {}

.section__descr {}

.section__content-descr {
    display: grid;
    grid-template-columns: auto auto;
    padding-bottom: 92px;
}

.products__content {
    gap: 50px 90px;
}

.products__item {
    width: 290px;
    text-align: center;
    margin: 0 auto;
}

.products__item-img {
    margin-bottom: 8px;
}

.products__item-price {
    margin-bottom: 12px;
    font-family: 'YesevaOne-Regular', cursive;
    font-size: 16px;
    font-weight: 400;
}

.products__item-title {
    margin-bottom: 16px;
    font-family: 'YesevaOne-Regular', cursive;
    font-size: 16px;
    font-weight: 400;
}

.products__item-text {
    margin-bottom: 27px;
    font-size: 12px;
}

.products__item-btn {
    display: inline-block;
    padding: 18px 54px;
    font-family: "Comfortaa-Regular", sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.4;
    background-color: #FFBD59;
}

/* steps */

.steps__list {
    gap: 70px 25px;
    counter-reset: number;
}

.steps__item {
    display: flex;
    gap: 40px;
    list-style-type: none;
    position: relative;
}

.steps__item::before {
    counter-increment: number;
    content: '0' counter(number);
    position: absolute;
    bottom: 0;
    left: 0;
    font-family: 'YesevaOne-Regular', cursive;
    font-size: 30px;
    color: #BEA495;
}

.steps__item:nth-child(n+10)::before {
    content: counter(number);
}

.steps__item.steps__item--even::before {
    left: auto;
    right: 0;
}

.steps__item-text {
    width: 175px;
    padding-bottom: 40px;
}

/* courses */


.courses__item-img {
    display: inline-block;
    position: relative;
    font-family: 'YesevaOne-Regular', cursive;
    font-size: 11px;
    color: #fff;
}

.courses__item-title {
    padding: 15px;
    left: -1px;
    top: 45%;
}

.courses__item-time {
    padding: 7px 10px;
    top: 60%;
    left: -1;
}

.courses__item-time span {
    font-size: 10px;
    font-family: "Comfortaa-Regular", cursive;
    font-weight: 400;
}

.courses__item-price {
    padding: 19px 10px;
    right: 0px;
    bottom: -5px;
}

.courses__item-title,
.courses__item-time,
.courses__item-price {
    background-color: #BEA495;
    position: absolute;
}


.courses__item-text {
    padding: 0 20px;

}

/* teachers */
.teachers {
    padding: 60px 0 85px;
    background-color: #A5978E;
    color: #FAFAFA;
    margin-bottom: 150px;
}

.teachers__content {
    gap: 75px;
    padding-bottom: 0;
}

.teachers__content-item {
    position: relative;
}


.teachers__item-textbox {
    position: absolute;
    bottom: 13px;
    right: 33px;
    z-index: 4;
    width: 165px;
    padding: 15px 10px;
    text-align: center;
    background-color: #7B6152;
    color: #fff;
}

.teachers__item-name {
    font-family: 'YesevaOne-Regular', cursive;
    font-size: 12px;
}

.teachers__item-text {
    font-size: 10px;
}

/* feedback */
.feedback {
    margin-bottom: 150px;
}

.feedback__slider {
    padding-left: 20px;
    position: relative;
    display: block;
}

.feedback__slide {
    height: 370px;
    display: flex;
    align-items: center;
    gap: 20px;
    transition: opacity 700ms ease, max-height 300ms ease;
    overflow: hidden;
    opacity: 1;
}

.feedback__slide-video-box {
    position: relative;
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;

}

.feedback__video-btn {
    background: transparent;
    border: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.feedback__slide-content {
    width: 372px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    padding: 35px 0 15px;
}

.feedback__slide-img {
    width: 380px;
    height: 370px;
}

.feedback__slide-social {
    display: block;
    width: fit-content;
}

.feedback__slide-author {
    margin-top: 12px;
    font-family: 'YesevaOne-Regular', cursive;
    font-weight: 400;
    font-size: 16px;
}

.feedback__slide-review {
    margin-top: 15px;
}

.feedback__slide-button {
    display: block;
    margin-top: auto;
    margin-left: auto;

}

.feedback__controls {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 55px;
    display: flex;
    gap: 12px;
}

.feedback__dot {
    width: 55px;
    height: 5px;
    background: #d9cfc3;
    border: 0;
    border-radius: 2px;
    cursor: pointer;
}

.brown {
    background: #7a5f46;
}

/* .feedback__dot[aria-current="true"] {
    background: #7a5f46;
} */

.hidden {
    opacity: 0;
    max-height: 0;
    pointer-events: none;
    visibility: hidden;
}

























/* footer */
.footer {
    background-color: #fff;
}

.footer__inner {
    padding-top: 40px;
    padding-bottom: 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-menu__list {
    display: flex;
    gap: 0 20px;
}

.footer__contacts {
    width: 230px;
    display: flex;
    flex-direction: column;
    padding-right: 15px;

}

.footer__social {
    display: flex;
    gap: 0 15px;
}

.email {
    margin: 16px 0;
}

@media (max-width: 1100px) {
    .steps__list {
        gap: 37px 80Ð²px;
    }

    .steps__item {
        gap: 30px;
    }

    .feedback__slide {
        gap: 14px;
    }

    .feedback__slide-content {
        padding-bottom: 0;
    }

    .feedback__slide-review {
        height: 160px;
        overflow: auto;
        overflow-y: auto;
        line-height: 1.3;
    }

    .feedback__slide-button {
        padding: 20px 0;
        max-width: 216px;
        width: 100%;    
    }


}

@media (max-width: 1000px) {
    .container {
        padding: 0 20px;
    }

    .top__content {
        width: 333px;
        padding: 95px 0 70px;
    }

    .top__text {
        margin-bottom: 30px;
    }

    .top__img {
        left: 300px;
    }

    .top__img-l {
        width: 655px;
    }

    .top__text {
        margin-bottom: 30px;
    }

    .about__content {
        min-width: 300px;
    }

    .about__list {
        padding-left: 20px;
        column-gap: 15px;
    }

    .section__inner {
        grid-template-columns: 290px auto;
        gap: 0 10px;
    }

    .section__text {
        font-size: 10px;
    }

    .products__content {
        gap: 67px;
    }

    .steps__item-text {
        width: 100%;
    }

    .teachers {
        padding: 50px 0;
    }

    .teachers__content {
        gap: 30px 20px;
    }


}

@media (max-width: 980px) {

    .footer__inner {
        flex-wrap: wrap;
    }

    .footer__contacts {
        width: 100%;
        text-align: center;
        padding-top: 15px;
        padding-right: 0;
    }

    .footer__social {
        justify-content: center;
    }

    .section__inner {
        grid-template-columns: 200px auto;
        gap: 0 30px;
    }

    .products__content {
        gap: 30px 16px;
    }

    .steps__title {
        font-size: 30px;
    }

    .steps__list {
        gap: 25px 35px;
    }

    .steps__item {
        gap: 0 20px;
    }

    .steps__item-img {
        width: 85px;
        object-fit: cover;
    }

    .steps__item-text {
        font-size: 8px;
    }

    

}

@media (max-width: 906px) {
    .feedback__slide-video-box img {
        width: 200px;
        height: auto;
    }

    .feedback__video-btn img {
        width: 41px;
        height: auto;
    }
}

@media (max-width: 768px) {
    body {
        font-size: 10px;
    }

    .container {
        max-width: 640px;
    }

    .header__inner {
        padding-top: 0;
    }

    .phone::before {
        width: 14px;
        height: 14px;
        left: -16px;
        top: -2px;
    }

    .top__content {
        width: 236px;
    }

    .top__title {
        font-size: 20px;
        margin-bottom: 20px;
    }

    .top__text {
        margin-bottom: 20px;
    }

    .top__buy {
        padding: 15px 30px;
    }

    .top__img {
        left: 180px;
    }

    .about {
        margin-bottom: 50px;
    }

    .about__content {
        min-width: 200px;
    }

    .title {
        font-size: 15px;
    }

    .about__list {
        margin-left: 12px;
        padding-bottom: 33px;
        column-gap: 10px;
    }

    .about__title {
        margin-bottom: 20px;
    }

    .about__text {
        font-size: 10px;
    }

    .about__item-text {
        font-size: 6px;
    }

    .about__item-img {
        margin-bottom: 6px;
    }

    .about__item-img--1,
    .about__item-img--3 {
        width: 120px;
    }

    .about__item-img--2 {
        width: 190px;
    }

    .products__item {
        width: 200px;
    }

    .products__item-img {
        width: 200px;
        margin-bottom: 6px;
    }

    .products__item-price {
        margin-bottom: 7px;
    }

    .products__item-title {
        margin-bottom: 9px;
        font-size: 12px;
    }

    .products__item-text {
        margin-bottom: 18px;
        font-size: 8px;
    }

    .button {
        padding: 10px 26px;
        font-size: 12px;
        font-weight: 400;
    }

    .courses__item-title {
        left: -1px;
        top: 40%;
        padding: 6px;
    }

    .courses__item-time {
        top: 55%;
        padding: 5px;
        left: -1px;
    }

    .courses__item-price {
        padding: 10px;
        bottom: 9px;
    }

    .teachers__content-item img {
        width: 140px;
    }

    .teachers__item-textbox {
        padding: 9px 6px;
        width: 109px;
        bottom: 8px;
        right: -24px;
    }

    .teachers__item-name {
        font-size: 8px;
    }

    .teachers__item-text {
        font-size: 7px;
    }

    
}

@media (max-width: 640px) {
    .container {
        padding: 0 10px;
    }

    .header__menu {
        order: 1;
        padding-right: 7px;
    }

    .menu__btn {
        display: flex;
        flex-direction: column;
        position: relative;
        z-index: 200;
    }

    .header__menu-list {
        transform: translateY(-110%);
        position: absolute;
        width: 153px;
        height: 234px;
        top: 0;
        left: 0;
        z-index: 100;
        padding: 25px 50px 25px 46px;
        background-color: #7B6152;
        color: #fff8f3;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px 0;
        transition: transform .3s ease-out;
    }

    .header__menu-list.menu--open {
        transform: translateX(0);
    }

    .section {
        padding-bottom: 50px;
    }

    .section__inner {
        display: block;
    }

    .section__descr {
        width: 300px;
        margin: 0 auto;
        text-align: center;
        margin-bottom: 30px;
    }

    .teachers__content {
        text-align: -webkit-center;
    }

    .teachers__item-textbox {
        right: auto;
        left: 40%;
    }

}

@media (max-width: 500px) {
    .footer {
        padding: 50px 0;
        font-size: 14px;
    }

    .footer__inner {
        flex-direction: column;
    }

    .footer__menu {
        padding: 50px 0;
        text-align: center;
    }

    .footer-menu__list {
        flex-direction: column;
        gap: 22px 0;
    }



}

@media (max-width: 480px) {
    .section {
        padding-bottom: 50px;
    }

    .top {
        padding: 30px 0 50px;
    }

    .top__content {
        width: 180px;
        padding-top: 80px;
        padding-bottom: 100px;
    }

    .top__title {
        font-size: 15px;
        margin-bottom: 15px;
    }

    .top__text {
        font-size: 8px;
        margin-bottom: 15px;
    }

    .top__buy {
        padding: 14px 41px;
        font-size: 10px;
    }

    .top__img {
        left: 120px;
    }

    .top__img-l {
        width: 309px;
    }

    .about__inner {
        align-items: flex-end;
    }

    .about__content {
        min-width: 172px;
    }

    .about__list {
        margin-left: 0;
        padding-left: 10px;
        column-gap: 5px;
        align-items: flex-end;
    }

    .about__item-img--1,
    .about__item-img--3 {
        width: 80px;
    }

    .about__item-img--2 {
        width: 140px;
    }

    .about__item-text {
        display: none;
    }

    .section__content-descr {
        padding-bottom: 62px;
    }

    .steps__list {
        gap: 25px 40px;
    }

    .teachers {
        margin-bottom: 50px;
    }
}

@media (max-width: 404px) {
    .steps__list {
        gap: 20px 24px;
    }

    .steps__item {
        gap: 0 16px;
    }

    .steps__item-img {
        width: 66px;
    }

    .courses__content {
        grid-template-columns: auto;
    }

    .courses__item,
    .products__item-img {
        width: 255px;
    }

    .teachers__content {
        grid-template-columns: auto;
        text-align: left;
    }

    .teachers__content-item img {
        width: 204px;
    }

    .teachers__item-textbox {
        width: 150px;
        left: 150px;
    }

    .teachers__item-name {
        font-size: 12px;
    }

    .teachers__item-text {
        font-size: 10px;
    }
}

@media (max-width: 360px) {
    body {
        font-size: 8px;
    }

    .top__content {
        width: 200px;
        padding: 20px 0 0 0;
        position: relative;
        z-index: 2;
    }

    .top__title {
        font-size: 18px;
    }

    .top__img {
        left: 180px;
    }

    .top__img-l {
        width: 185px;
        position: relative;
        z-index: 1;
    }

    .top__text {
        font-size: 10px;
    }

    .about {
        padding: 25px 0 10px;
    }

    .about__list {
        margin-left: 12px;
        padding-left: 12px;
        padding-bottom: 30px;
    }

    .about__content {
        min-width: 233px;
    }

    .title {
        margin-bottom: 10px;
    }

    .about__text {
        font-size: 8px;
        margin-bottom: 10px;
    }

    .about__item-img--2,
    .about__item-img--3 {
        display: none;
    }

    .section__descr {
        width: 235px;
        margin-bottom: 25px;
    }

    .products__content {
        gap: 40px 7px;
    }

    .products__item {
        width: 150px;
    }

    .button {
        font-size: 8px;
        padding: 8px 20px;
    }

    .products__item-price {
        font-size: 10px;
        margin-bottom: 5px;
    }

    .products__item-title {
        font-size: 10px;
    }

    .products__item-text {
        font-size: 7px;
        margin-bottom: 16px;
    }

    .steps__item-text {
        font-size: 6px;
    }
}