@font-face {
    font-family: 'Comfortaa-Regular';
    src: url('../fonts/Comfortaa-Regular.woff2') format('woff2');
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'Comfortaa-SemiBold';
    src: url('../fonts/Comfortaa-SemiBold.woff2') format('woff2');
    font-style: normal;
    font-weight: 600;
    font-display: swap;
}

@font-face {
    font-family: 'Comfortaa-Bold';
    src: url('../fonts/Comfortaa-Bold.woff2') format('woff2');
    font-style: normal;
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto-Regular';
    src: url('../fonts/Roboto-Regular.woff2') format('woff2');
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'YesevaOne-Regular';
    src: url('../fonts/YesevaOne-Regular.woff2') format('woff2');
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

body {
    font-family: "Comfortaa-Regular", sans-serif;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    line-height: 1.14;
    color: #000000;
    overflow-x: hidden;
}

html,
body {
    height: 100%;
}

button {
    background-color: transparent;
    padding: 0;
    border: none;
    font-family: inherit;
    color: inherit;
    display: inline-block;
}

input {
    font-family: inherit;
    color: inherit;
}

input::placeholder {
    font-family: inherit;
    color: inherit;
}

.container {
    max-width: 1180px;
    margin: 0 auto;
    padding: 0 10px;
}

.section-box {
    padding: 150px 0;
}

.section__title {
    margin-bottom: 55px;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 42px;
    line-height: 1.16;
}


/* header */
.header {
    background-color: #FFF8F3;
}

.header__inner {
    padding-top: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu__list {
    display: flex;
    gap: 0 20px;
}


.menu__list-link {
    text-transform: uppercase;
}

.phone {
    position: relative;
}

.phone::before {
    content: '';
    position: absolute;
    left: -20px;
    width: 15px;
    height: 15px;
    background-image: url(../images/phone.svg);
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
}

.menu__btn {
    height: 23px;
    width: 30px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 0;
}

.menu__btn span {
    background-color: #7B6152;
    height: 1px;
    width: 100%;
}

/* top */
.main {
    background-color: #FFF8F3;
    overflow-x: clip;
}

.top {
    padding-top: 40px;
    padding-bottom: 150px;
}

.top__inner {
    position: relative;
}

.top__content {
    width: 380px;
    padding: 150px 0 250px;
}

.top__title {
    font-family: 'YesevaOne-Regular', cursive;
    font-size: 30px;
    line-height: 1.16;
    font-weight: 400;
    margin-bottom: 15px;
}

.top__text {
    margin-bottom: 48px;
}

.top__buy {
    display: inline-block;
    padding: 20px 46px;
    font-family: "Comfortaa-Regular", sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.4;
    text-align: center;
    background-color: #FFBD59;
}

.top__img {
    position: absolute;
    top: 0;
    left: 240px;
}

.top__img-l {
    max-width: none;
}

/* about */
.about {
    background-color: #A5978E;
    padding: 50px 0;
    color: #FAFAFA;
}

.about__inner {
    display: flex;
    align-items: center;
}

.about__content {
    min-width: 370px;
}

.about__title {
    margin-bottom: 15px;
    font-family: 'YesevaOne-Regular', cursive;
    font-size: 40px;
    font-weight: 400;
    margin-bottom: 15px;
}

.about__text {
    margin-bottom: 15px;
    font-weight: 400;
}

.about__list {
    display: flex;
    align-items: center;
    flex-basis: 930px;
    column-gap: 20px;
    padding-left: 110px;
    padding-bottom: 48px;
    position: relative;
}

.about__list::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 22px;
    height: 30px;
    background-image: url(../images/about-icon.png);
}

.about__list::after {
    content: '';
    position: absolute;
    bottom: 13px;
    left: 22px;
    width: 1000%;
    height: 1px;
    background-color: #7B6152;
}

.about__item {}

.about__item-img {
    margin-bottom: 10px;
    max-width: none;
}

.about__item-text {
    font-size: 11px;
}

/* product */

.product {
    padding: 150px 0 160px;
}

.product__inner {
    display: flex;
    column-gap: 20px;
    justify-content: space-between;
}

.product__content {
    flex-basis: 372px;
}

.product__items-wrapper {
    max-width: 790px;
    display: flex;
    flex-wrap: wrap;
    gap: 50px 20px;
    box-sizing: content-box;
}

.product__item {
    max-width: 50%;
    width: 290px;
    text-align: center;
    padding: 0 47px;
}

.product__img {
    display: inline-block;
}

.product__price {
    display: block;
}


/* footer */
.footer {
    background-color: #fff;
}

.footer__inner {
    padding-top: 40px;
    padding-bottom: 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-menu__list {
    display: flex;
    gap: 0 20px;
}

.footer__contacts {
    width: 230px;
    display: flex;
    flex-direction: column;
    padding-right: 15px;

}

.footer__social {
    display: flex;
    gap: 0 15px;
}

.email {
    margin: 16px 0;
}



@media (max-width: 1000px) {
    .container {
        padding: 0 20px;
    }

    .top__content {
        width: 333px;
        padding: 95px 0 70px;
    }

    .top__text {
        margin-bottom: 30px;
    }

    .top__img {
        left: 300px;
    }

    .top__img-l {
        width: 655px;
    }

    .top__text {
        margin-bottom: 30px;
    }

    .about__content {
        min-width: 300px;
    }

    .about__list {
        padding-left: 20px;
        column-gap: 15px;
    }
}

@media (max-width: 900px) {

    .footer__inner {
        flex-wrap: wrap;
    }

    .footer__contacts {
        width: 100%;
        text-align: center;
        padding-top: 15px;
        padding-right: 0;
    }

    .footer__social {
        justify-content: center;
    }
}

@media (max-width: 768px) {
    body {
        font-size: 10px;
    }

    .container {
        max-width: 640px;
    }

    .header__inner {
        padding-top: 0;
    }

    .phone::before {
        width: 14px;
        height: 14px;
        left: -16px;
        top: -2px;
    }

    .top__content {
        width: 236px;
    }

    .top__title {
        font-size: 20px;
        margin-bottom: 20px;
    }

    .top__text {
        margin-bottom: 20px;
    }

    .top__buy {
        padding: 15px 30px;
    }

    .top__img {
        left: 180px;
    }

    .about__content {
        min-width: 200px;
    }

    .title {
        font-size: 15px;
    }

    .about__list {
        margin-left: 12px;
        padding-bottom: 33px;
        column-gap: 10px;
    }

    .about__title {
        margin-bottom: 20px;
    }

    .about__text {
        font-size: 10px;
    }

    .about__item-text {
        font-size: 6px;
    }

    .about__item-img {
        margin-bottom: 6px;
    }

    .about__item-img--1,
    .about__item-img--3 {
        width: 120px;
    }

    .about__item-img--2 {
        width: 190px;
    }
}

@media (max-width: 640px) {
    .container {
        padding: 0 10px;
    }

    .header__menu {
        order: 1;
        padding-right: 7px;
    }

    .menu__btn {
        display: flex;
        flex-direction: column;
        position: relative;
        z-index: 200;
    }

    .header__menu-list {
        transform: translateY(-110%);
        position: absolute;
        width: 153px;
        height: 234px;
        top: 0;
        left: 0;
        z-index: 100;
        padding: 25px 50px 25px 46px;
        background-color: #7B6152;
        color: #fff8f3;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px 0;
        transition: transform .3s ease-out;
    }

    .header__menu-list.menu--open {
        transform: translateX(0);
    }

}

@media (max-width: 500px) {
    .footer {
        padding: 50px 0;
        font-size: 14px;
    }

    .footer__inner {
        flex-direction: column;
    }

    .footer__menu {
        padding: 50px 0;
        text-align: center;
    }

    .footer-menu__list {
        flex-direction: column;
        gap: 22px 0;
    }



}

@media (max-width: 480px) {
    .top {
        padding: 30px 0 50px;
    }

    .top__content {
        width: 180px;
        padding-top: 80px;
        padding-bottom: 100px;
    }

    .top__title {
        font-size: 15px;
        margin-bottom: 15px;
    }

    .top__text {
        font-size: 8px;
        margin-bottom: 15px;
    }

    .top__buy {
        padding: 14px 41px;
        font-size: 10px;
    }

    .top__img {
        left: 120px;
    }

    .top__img-l {
        width: 309px;
    }

    .about__inner {
        align-items: flex-end;
    }

    .about__content {
        min-width: 172px;
    }

    .about__list {
        margin-left: 0;
        padding-left: 10px;
        column-gap: 5px;
        align-items: flex-end;
    }

    .about__item-img--1,
    .about__item-img--3 {
        width: 80px;
    }

    .about__item-img--2 {
        width: 140px;
    }

    .about__item-text {
        display: none;
    }
}

@media (max-width: 360px) {
    body {
        font-size: 8px;
    }

    .top__content {
        width: 200px;
        padding: 20px 0 0 0;
        position: relative;
        z-index: 2;
    }

    .top__title {
        font-size: 18px;
    }

    .top__img {
        left: 180px;
    }

    .top__img-l {
        width: 185px;
        position: relative;
        z-index: 1;
    }

    .top__text {
        font-size: 10px;
    }

    .about {
        padding: 25px 0 10px;
    }

    .about__content {
        min-width: 233px;
    }

    .title {
        margin-bottom: 10px;
    }

    .about__text {
        font-size: 8px;
        margin-bottom: 10px;
    }
}